<launch>
	<!-- USB Camera Node -->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video2" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="framerate" value="30" />
	</node>

	<!-- Livox MID360 Driver -->
	<include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />

</launch>

